@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

/* Biar background body ngikutin warna gray-50 yang kamu mau */
body {
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}